@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

.grid-container{
 display: grid;
 grid-template-areas:
 'one one one'
 'two two two'
 'three three three';
}
#one{
  background-color: #eeb21d;
  grid-area: one;
  text-align: center;
  padding: 20px;
}

#two{
  grid-area: two;
  background-image: url(/assets/order.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  color: #ebedef;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  
}

#three{
  background-color: #bfaf5e;
  grid-area: three;
  text-align: center;
}

.icon{
  width: 5%;
  padding: 10px;
}
.logo{
  width: 10%;
  padding: 5px;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column{
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.btn{
  background-color: #747c64;
  border-color: #747c64;
  margin: 20px;
  border-radius: 5px;
  padding: 8px;
}
h2{
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
}
.box-showing{
  background-color:#bfaf5e; 
  opacity: 80%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  display: none;
}
.box-hidden{
  display: showing;
}
.ordertotal{
  background-color:#bfaf5e; 
  opacity: 80%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  display: none;
}
#toppings{
  display: flex;
  justify-content: space-evenly;
}
#meat, #veg{
  text-align: start ;
}

@media screen and (max-width: 734px) {
  .logo {
    width: 25%;
  }
  .column{
    width: 100%;
  }
  #two{
    height: 400px;
  }
  h2{
    font-size: 36px;
  }
  p{
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .logo {
    width: 25%;
  }
  .column{
    width: 100%;
  }
  #two{
    height: 450px;
  }
  .icon{
    width: 10%;
    padding: 10px;
  }
  #one{
    max-height: 200px;
  }
}